* {
    margin: 0;
    padding: 0;
    border: 0;}
body {
    margin: 0;
    font: normal ,arial,verdana,serif;
    width: 80vw;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: contain;
    background: rgb(0, 0, 204) url(principes-removebg-preview.png) ;
    background-repeat: no-repeat;
    background-position:center;
 }